.about-container {
    padding: 20px;
    color: #000;
    margin-top: 10px;
    line-height: 1.6;
    font-weight: 600;
    /* border: 1px solid #000; */
}

.about-container h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.about-container h3 {
    text-decoration: underline;
    text-underline-offset: 10px;
    /* padding: 30px 0; */
    padding-top: 20px;
    padding-bottom: 10px;
    color: #383833;
    font-size: 22px;
}

.about-store-section {
    /* border: 1px solid #000; */
    padding-bottom: 20px;
    font-size: 15px;
    border-bottom: 1px solid #d5d5d5;
}

.about-store-section span {
    font-size: 15px;
    color: #7a7a7a;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}


.events-container {
    margin: 40px 0;
}

.store-events {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    /* border: 2px solid yellow; */
}

.events-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    min-height: 400px;
    border: 1px solid #e1e1e1;
}


.events-card-body {
    padding: 20px 0 20px 0;
}

.events-card-body p {
    text-align: left;
}

.events-card-body h4 {
    font-size: 20px;
    font-weight: bold;
}

.about-section-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section-footer span {
    color: #12adff;
}



@media only screen and (max-width: 576px) {

    .about-container h3 {
        font-size: 20px;
    }


    .about-store-section span {
        font-size: 12px;
        text-align: center;

    }

    .events-container {
        margin: 10px 0;
    }

    .store-events {
        /* padding: 30px; */
        flex-wrap: wrap;
        gap: 20px;
        /* border: 1px solid #000; */
    }

    .events-card {
        min-width: 380px;
    }

}