.hero-section {
    height: calc(100vh - 80px);
    background-color: gray;
    background-image: url('https://images.pexels.com/photos/1300578/pexels-photo-1300578.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    /* background-position: center; */
    display: flex;
    align-items: center;
}

.hero-content {
    margin-left: 40px;
}

.hero-content h2 {
    font-weight: 600;
    text-transform: capitalize;
}

.hero-content p {
    font-weight: 400;
    font-size: 20px;
}

.hero-btn {
    background-color: #ff3636;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 8px;
    padding: 8px 12px;
    transition: all 250ms;
    color: #fff;
    text-transform: uppercase;
}

.hero-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
}


@media only screen and (max-width: 576px) {

    .hero-section {
        max-height: 420px;
    }

    .hero-content {
        margin-bottom: 60px;
        margin-left: 8px;
    }

    .hero-content h2 {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .hero-content p {
        font-size: 16px;
    }
}