.cart-container h3 {
    text-align: center;
    padding: 8px;
    margin-top: 20px;
}

.cart-wrapper {
    display: flex;
    padding: 20px;
}

.vinyls {
    min-width: 70%;
    padding-right: 40px;
}

.order-vinyl-details {
    min-height: 100px;
    display: flex;
    border: 1px solid lightgray;
    justify-content: space-evenly;
    align-items: center;
}

.order-vinyl-details .title {
    max-width: 220px;
}

.form-control {
    width: 50px !important;
}

.sub-total-items {
    min-width: 30%;
    background-color: #f1f1f1;
    border-radius: 10px;

    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    padding: 16px;
}

.title {
    text-align: center;
    font-weight: 600;
}

.order-price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.order-price p,
.total-payment {
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
}

.total-payment,
.total-payment>span {
    font-weight: bold;
}



@media only screen and (max-width: 576px) {
    .cart-wrapper {
        flex-direction: column;
        gap: 50px;
        /* padding: 0; */
        width: 100%;
    }

    .vinyls {
        /* min-width: 100%; */
        padding-right: 0;
    }

    .order-vinyl-details {
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }

    .order-vinyl-details img {
        width: 90px;
        height: 90px;
    }

    .order-vinyl-details .title {
        max-width: 80px;
    }

    .sub-total-items {
        min-height: 40vh;
    }

    .list-group {
        /* margin-top: 20px; */
    }

    .list-group-item {
        /* border: none !important;
        border-radius: unset;
        margin-top: 20px;
        border-bottom: 1px solid #ddd !important; */
    }

    .list-group-item .col img {
        /* width: 100px;
        height: 100px; */
    }

    .list-group-item .col-md {
        /* background-color: b; */
        /* padding: 3px; */
        /* margin-top: 2px; */
        /* font-size: 20px; */
        /* text-align: unset !important; */
    }

    .list-group-item .col-md .form-control {
        /* background-color: red; */
        /* width: 50px; */
    }
}