.carousel-card {
    overflow: hidden;
    max-height: 300px;
    background-color: #000;
}

.carousel-card img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.vinyl-section {
    margin-top: 50px;
    background-color: #000;
    color: #fff;
    padding: 25px;
    position: relative;

}

.vinyl-section-title h4 {
    padding: 10px;
    margin: 8px 0 12px 10px;
    font-weight: 400;
}

.vinyl-link {
    /* text-align: end; */
    position: absolute;
    right: 30px;
    bottom: 0;
    padding: 8px;
    font-size: 14px;
}

.vinyl-link:hover {
    text-decoration: underline;
}


.dub-section {
    /* background-color: brown; */
    /* background-color: #f1f1f1; */
    color: #000;
}