.card {
    max-width: 220px !important;
    min-height: 300px !important;
    background-color: transparent !important;
    overflow: hidden !important;
    color: #eee;
    /* border: none !important; */
    /* border: 2px seashell solid !important; */
    margin: 0 auto;
}

.card-img-top {
    width: 200px;
    height: 180px;
    object-fit: cover;
}

.card-img-top:hover {
    opacity: 0.5;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.card-text {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: horizontal;
}

.card-text:hover {
    text-decoration: underline;
    text-decoration-color: #eee;
}

.card a {
    text-align: center;
}