.search-vinyl-container {
    padding: 30px 40px;
    display: flex;
}

.left {
    flex: 0.5;
    position: sticky;
    max-height: 500px;
    top: 0;
    text-align: left;
    max-width: 200px;
    border-right: 2px solid #ddd;
}

.filterItem {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.filterItem>h6 {
    font-weight: bold;
    margin: 12px 0;
}

.filter-btn-list {
    display: flex;
    flex-direction: column;
}

.filter-btn {
    border: none;
    margin-top: 5px;
    text-align: left;
    background-color: inherit;
    color: #000;


}

.filter-btn:hover {
    border-left: 2px solid #dbb333;
}

.filter-btn.active {
    padding-left: 8px;
    border-left: 2px solid #dbb333;
    color: #dbb333;
    /* color: #000000e6; */
    font-weight: 700;
    /* color: #5a9e74; */
}




.filterItem input {
    margin-bottom: 5px;
}


.right {
    flex: 3;
    padding: 20px;

}

.search-vinyl-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-vinyl-input form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search-vinyl-input input {
    padding: 8px 80px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    display: flex;
}

.search-form-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    border: inherit;
    background-color: transparent;
    color: inherit;
}





@media only screen and (max-width: 576px) {

    .search-vinyl-container {
        flex-direction: column;
        padding: 0;

    }

    .search-form-icon {
        top: 12px;
    }

    .left {
        position: unset;
        flex: 1.5;
        max-width: 100%;
        padding: 20px 0;
    }

    .filterItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter-btn-list {
        flex-direction: row;

    }

    .filter-btn {
        background-color: #333333;
        color: #fff;
        margin-right: 5px;
        border-radius: 5px;
        padding: 10px 12px;
    }

    .filter-btn.active {
        border-left: none;
    }

    .right {
        padding: 0;
    }

}