.search-vinyl-container {
    padding: 30px 40px;
    display: flex;
}

.left {
    /* border: 1px solid black; */
    background-color: #f1f1f1;
    padding: 15px;
    flex: 0.8;
    position: sticky;
    max-height: 500px;
    top: 0;
}

.filterItem {
    margin-bottom: 10px;
}

.filterItem>h5 {
    font-weight: 600;
    margin-bottom: 15px;
}

.filterItem input {
    margin-bottom: 5px;
}


.right {
    flex: 3;
    /* border: 1px solid black; */
    padding: 20px;

}

.search-vinyl-input {
    /* border: 1px solid black; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-vinyl-input input {
    padding: 8px 80px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}