.pagination-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    /* border: 1px solid #000; */
}

.pagination-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-weight: 500;
    font-size: 15px;
    padding: 6px 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #333;
    border: 1px solid #ddd;
}

.pagination-container button:hover {
    background-color: #ddd;
}

.pagination-container button.active {
    font-weight: 900;
    background: #ffe400;
}