.pagination-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-container button {
    width: 28px;
    height: 25px;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #101010;
    background-color: #ffe400;
    border-color: #eee;
}

.pagination-container button.active {
    font-weight: 900;
    border-color: #101010;
    background: #fff;
    color: #101010;
}

button.arrow-btn {
    border: none;
}