.main-navbar {
    width: 100%;
    background-color: #eef2f3;
}

/* .main-navbar.active,
.main-navbar.active .right-navbar span svg path,
.main-navbar.active .right-navbar button path,
.main-navbar.active .right-navbar button:after {
    background-color: #333;
    color: #fff;
    fill: #fff;
    opacity: 0.9;
} */

.sub-main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.sub-main-navbar h1 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}

.left-navbar svg {
    width: 60px !important;
    height: 60px !important;
}

.left-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-close-btn {
    display: none;
    cursor: pointer;
}


.links-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10vw;
    margin: 0;
    background-color: #5d5d5d;
    color: #fff;
}

.links-ul .link-item a {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: 600;
    transition: all .2s ease;

}

.links-ul .link-item:hover {
    color: #000;
}


@media only screen and (max-width: 576px) {


    .sub-main-navbar {
        /* padding: 10px 4px; */
        /* justify-content: space-evenly; */
        /* border: 1px solid black; */
        /* background-color: #333; */
        /* padding: 5px 2px; */
        /* color: #fff; */
    }

    .sub-main-navbar h1 {
        font-size: 23px;
    }

    .right-navbar .wishlist-Title {
        display: none;
    }

    .hamburger-icon {
        display: block;
        margin-left: 10px;
    }

    .mobile-menu-close-btn {
        display: block;
        text-align: right;
        padding: 10px;
    }

    .links-container {
        position: relative;
        z-index: 1000;
    }

    .links-ul {
        background-color: gray;
        position: absolute;
        top: 0;
        left: -200px;
        width: 200px;
        min-height: 60vh;
        padding: 10px;
        transition: .5s;
        display: block;
    }

    .links-ul.show {
        left: 0;
    }

    .links-ul .link-item {
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
        padding: 20px;
        transition: 0.3s;
        border-bottom: 1px solid #eee;
    }

}