.wrapper {
    /* border: 3px red solid; */
    background-color: #000;
    color: #fff;
}

.data-container {
    display: flex;
    /* border: 2px solid #eee; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.back-home-link {
    padding: 30px 0 0 60px;
    color: #bebebe;
}

.vinyl-details {
    margin: 5px 0 0 5%;
    /* background-color: red; */
    flex: 1;
}

.vinyl-img-carousel {
    /* border: 2px seagreen solid; */
    /* height: 500px; */
    /* max-height: 500px; */
    /* height: 100%; */

}

.slider-wrapper.axis-horizontal {
    /* border: 2px red solid; */


}

.vinyl-img-carousel img {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.thumbs-wrapper.axis-vertical {
    /* border: 1px darkolivegreen solid; */
}

.thumbs-wrapper.axis-vertical button {
    display: none;
}

.vinyl-img {
    /* height: 400px; */
    max-width: 400px;
    object-fit: contain;
}

.vinyl-img img {
    /* height: 400px; */
    /* width: 400px; */
    /* object-fit: contain; */
}

.vinyl-content {
    /* color: #fff; */
    padding: 5px;
    /* margin-left: 70px; */
    flex: 1;
    /* max-width: 300px; */
    /* border: 2px solid #fc7053; */
}

.vinyl-content h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.vinyl-content h4 {
    font-size: 18px;
    font-weight: inherit;
}

.btns {
    margin-top: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn.btn-primary {
    background-color: #fc7053 !important;
    transition: all .2s ease-in-out;
    margin-left: 10px;
    border-radius: 0;
    border: none;
}

.btn.btn-primary:hover {
    opacity: 0.9;
}

.quantity-btn {
    border: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    /* height: 50px; */
    text-align: center;
    margin-right: 8px;
}

.quantity-btn-operator {
    background-color: inherit;
    color: #fff;
    font-size: 16px;
    margin: 2px 4px 0 4px;
}

.wishlist-btn {
    background-color: transparent;
}

@media only screen and (max-width: 800px) {
    .data-container {
        flex-direction: column;
    }

    .vinyl-content {
        padding: 10px;
        margin: 10px;
    }

    .btns {
        margin-top: 0;
        justify-content: center;
    }
}