.wrapper {
    /* border: 3px red solid; */
    /* background-color: #f1f1f1; */
    /* background-color: #010101; */
    color: #212529;
}

.data-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid #eee; */
}

.back-home-link {
    padding: 20px 0 0 60px;
    font-weight: 700;
}

.vinyl-details {
    margin: 5px 0 0 5%;
    flex: 1;
}

.vinyl-img-carousel {
    /* background-color: #f1f1f1; */
}

.slider-wrapper.axis-horizontal {
    /* border: 2px red solid; */
}

.thumbs-wrapper.axis-vertical {
    margin-top: 6px;
    overflow: hidden;
}

.thumbs-wrapper.axis-vertical button {
    display: none;
}

.vinyl-img {
    max-width: 450px;
}

.vinyl-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.vinyl-content {
    padding: 5px;
    margin: 0 70px 0 0;
    flex: 1;
    /* border: 2px solid #fc7053; */
}

.vinyl-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vinyl-content-title h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vinyl-content span {
    font-size: 16px;
}

.vinyl-content h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: inherit;
    font-weight: 500;
}


/* price color */
.price-stock.inStock {
    color: #00a36c;
    /* background-color: chartreuse; */
}

.price-stock.notInStock {
    color: #df4759;
}

/* add to cart btn */
.btn-btn {
    background-color: #ccc999;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 8px;
    padding: 5px 8px;
    transition: all 250ms;
    color: #333;
    width: 100%;
}


.btn-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fff;
}

.btn-btn:active {
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px;
}

.disabled-cart-btn {
    background-color: #cccccc;
    border: 1px solid #999999;
    color: #666666;
}

.remove-Cart-btn {
    background-color: #97AFBA;
}

.remove-Cart-btn:hover,
.remove-Cart-btn:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.add-wishlist-btn {
    background-color: #87ceeb;
}

.btn-btn-wishlist:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fff;
}

.removeCard-btn:focus {
    /* box-shadow: rgba(0, 0, 0, .1) 0 2px 4px; */
    /* background-color: yellow; */
}

.remove-wishlist-btn {
    background-color: #97AFBA;
}


/* shipping policy */
.shipping-policy {
    background-color: #e2e3e5;
    border-radius: 8px;
    padding: 5px;
    margin: 9px 0;
}

.shipping-wrapper {
    padding: 8px 8px 0 8px;
}

.shipping-policy span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
}

.shipping-policy p {
    font-size: 14px;
}


/* media */
@media only screen and (max-width: 576px) {

    .data-container {
        flex-direction: column;
    }

    .back-home-link {
        padding: 30px 0 0 40px;
        display: none;

    }

    .vinyl-details {
        margin: auto;
    }

    .vinyl-img {
        max-width: 400px;
    }

    .vinyl-content {
        padding: 10px;
        margin: 10px;
    }

    .vinyl-content>h1 {
        margin-bottom: 5px;
    }

    .wishlist-btn {
        padding: 0;
    }
}