.turnTable-container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef2f3;
}

.turnTable-wrapper h2 {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.turnTable-data {
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.vinyl-label-animation {
    /* margin-top: 20px; */
    margin: 20px auto;
    background-color: whitesmoke;
    /* border: 1px solid green; */
    /* width: 900px; */
    height: 80px;
    overflow: hidden;
    position: relative;

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.vinyl-label-animation .inner {
    display: flex;
    justify-content: space-between;
    color: #ff3636;
    border: 1px solid black;
    /* display: inline-block; */
    /* position: absolute;
    top: 10px;
    left: 2px; */
    width: 100%;
    /* height: 100%; */
    margin-right: 30px;
    /* margin-left: 20px; */
    padding: 5px;
    /* font-size: 15px; */
    /* text-align: center; */
    /* line-height: 50px; */
    /* transform: translateX(100%); */
    /* animation-fill-mode: both; */
    animation: scrolling 35s linear infinite;
    /* animation: scrollingRewind 30s linear infinite; */
}

@keyframes scrolling {
    from {
        transform: translateX(900px);
    }

    to {
        transform: translateX(-3000px);
    }
}

@keyframes scrollingRewinds {
    from {
        transform: translateX(-3000px);
    }

    to {
        transform: translateX(1000px);
    }
}


/* media */
@media only screen and (max-width: 576px) {

    .turnTable-data {
        grid-template-columns: repeat(2, 1fr);
    }

    .turnTable-wrapper h2 {
        font-size: 20px;
    }
}