.turnTable-container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef2f3;
}

.turnTable-wrapper h2 {
    color: #2e2e2e;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.turnTable-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/* media */
@media only screen and (max-width: 576px) {

    .turnTable-data {
        grid-template-columns: repeat(2, 1fr);
    }

    .turnTable-wrapper h2 {
        font-size: 20px;
    }
}