.cardList {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center; */

    /* border: 2px solid chartreuse; */
    /* width: 800px; */
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    /* background-color: red; */
    /* height: 20px; */
}

/* .slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 10px;

} */

/* media */
@media only screen and (max-width: 576px) {

    .cardList {
        /* background-color: red; */
        /* padding: 100%; */
        /* margin-left: 5px; */
    }

    .slick-arrow.slick-prev {
        /* left: 0; */
    }

    .slick-arrow.slick-next {
        /* right: 0; */
    }

}