.footer-container {
    background-color: #5d5d5d;

    color: #fff;
}

.footer-wrapper {
    display: flex;
    margin-top: 10px;
}

.footer-body {
    margin: 10px;
    padding: 40px;
}

.footer-body h5 {
    color: #ccc999;
}

.footer-body ul {
    padding: 0;
    margin-top: 20px;
}

.footer-body ul li {
    margin-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.footer-body ul li:hover {
    text-decoration: underline;
    color: #000;

}

.footer-body.social ul {
    display: flex;
}

.social-link {
    padding-right: 12px;
}

.imgOne {
    display: flex;
    flex-direction: column;
}

.imgOne img {
    width: 130px;
    margin-top: 8px;
    cursor: pointer;
}

.copyright-section {
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text p {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    color: #252525;
    font-weight: 600;
}



@media only screen and (max-width: 576px) {

    .footer-wrapper {
        flex-direction: column;

    }

    .footer-body {
        margin: 10px 0 0 8px;
        padding: 10px 0 0 10px;
    }

    .footer-body ul {
        margin-top: 0;
    }

    .imgOne {
        flex-direction: row;
        gap: 15px;
        padding: 0 0 12px 0;
    }

    .imgOne img {
        width: 110px;
    }
}