* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  list-style: none;
}

body {
  /* height: 100%; */
  color: #333 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


/* Header style */


.navbar-nav .nav-li::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.4s
}

.navbar-nav .nav-li:hover::after {
  width: 100%;
  /* transition: 0.2s; */
}

.navbar-nav .nav-li:hover {
  color: #fec400 !important;

}

.nav-li.active {
  color: #fec400 !important;

}

.navbar-nav .nav-li {
  color: #fec400;
  padding: 20px 5px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  margin-bottom: 18px;
}

.cartItemImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 18px;
  /* font-size: 14px; */
  border-bottom: 1px solid #ddd;
}


@media only screen and (max-width: 576px) {
  .dropdown-menu.show.dropdown-menu-end {
    min-width: 300px !important;
  }

  .navbar-nav .nav-li:hover::after {
    width: 0;
    /* transition: 0.2s; */
  }

  .navbar-nav .nav-li {
    padding: 8px 5px;
  }

}


/* Hits, dub, dancehall section style component*/

.vinyl-section {
  margin-top: 30px;
  /* background-color: #252525; */
  /* background-color: #f1f1f1; */
  background-color: #eef2f3;
  padding: 30px;
  position: relative;

}

.vinyl-section-title h4 {
  text-decoration: underline;
  text-underline-offset: 10px;

  /* position: relative; */
  /* padding: 0 7px 15px; */
  font-weight: 600;
  color: #2e2e2e;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin: 0 0 0px 0;
  /* display: inline-block; */
}

.vinyl-link {
  position: absolute;
  right: 30px;
  bottom: 0;
  padding: 6px;
  font-size: 14px;
}

.vinyl-link:hover {
  text-decoration: underline;
}


.dub-section {
  color: #000;
}


@media only screen and (max-width: 576px) {
  .vinyl-section {
    padding: 20px 0 70px 0;
    /* border: 1px solid #333; */
  }

  .vinyl-section-title h4 {
    padding-left: 10px;
  }
}

/* css carousal */
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  /* border: none; */
  /* border: 1px solid #0e0e0e; */
  /* border-radius: 8vw; */
  /* background-color: #f1f1f1; */
  /* background-color: #111; */
  z-index: 99 !important;
  /* box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px; */
  top: 40%;
  opacity: 0.6;
}

.slick-arrow.slick-next {
  transform: scale(1.6);
  right: 1px
}

.slick-arrow.slick-prev {
  transform: scale(1.6);
  left: 1px;
}

.slick-prev:hover {
  opacity: 1;
}

.slick-next:hover {
  opacity: 1;
}

.react-icons {
  color: red;
}

/* media */
@media only screen and (max-width: 576px) {

  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    display: block;
    top: 100%;
    margin-top: 3%;
  }

  .slick-arrow.slick-next {
    right: 40%
  }

  .slick-arrow.slick-prev {
    left: 40%;


  }
}

/* Modal  */
.modal-card-wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}

.card.modal-card {
  margin: 20px !important;
  /* background-color: #f1f1f1 !important; */

}

.modal-content {
  text-align: center;
}

.modal-header {
  /* border: 1px solid black; */
  /* display: flex; */
}

.modal-header h1 {
  margin: 0 auto;
}

.modal-close-btn {
  cursor: pointer;
}


/* media query*/
@media only screen and (max-width: 576px) {
  .modal-card-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}