* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* color: #333 !important; */
}

body {
  /* font-family: 'Poppins', sans-serif; */
  /* font-weight: 300; */
  height: 100%;
  color: #333 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Header style */

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  margin-bottom: 18px;
}

.cartItemImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 18px;
  /* font-size: 14px; */
  border-bottom: 1px solid #ddd;
}




/* Hits, dub style component*/

.vinyl-section {
  margin-top: 50px;
  /* background-color: #252525; */
  background-color: #f1f1f1;
  /* color: #fff; */
  padding: 30px;
  position: relative;

}

.vinyl-section-title h4 {
  padding: 10px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.vinyl-link {
  position: absolute;
  right: 30px;
  bottom: 0;
  padding: 6px;
  font-size: 14px;
  /* margin-top: 10px; */
}

.vinyl-link:hover {
  text-decoration: underline;
}


.dub-section {
  color: #000;
}

.btn-btn {
  /* background-color: #ff3636; */
  background-color: #ccc999;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  padding: 5px 8px;
  transition: all 250ms;
  color: #333;
  width: 100%;
}


.btn-btn:hover,
.btn-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
  /* opacity: 1; */
}

.btn-btn:active {
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px;
}

.removeCard-btn {
  background-color: #ff3636;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  padding: 5px 8px;
  transition: all 250ms;
  color: #333;
  width: 100%;
}

.removeCard-btn:hover,
.removeCard-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
  /* opacity: 1; */
}

.removeCard-btn:active {
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px;
}

/* css carousal */
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  background-color: #f1f1f1;
  z-index: 99 !important;
  box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px;
  top: 40%;
  opacity: 0.6;
}

.slick-arrow.slick-next {
  transform: scale(1.6);
  right: 1px
}

.slick-arrow.slick-prev {
  transform: scale(1.6);
  left: 1px;
}

.slick-prev:hover {
  opacity: 1;
}

.slick-next:hover {
  opacity: 1;
}