.tracklist-container {
    /* border: 1px solid salmon; */
    /* padding-top: 60px; */
    /* height: 100vh; */
    background-color: #fafafa;
    /* display: flex;
    justify-content: space-around; */
    /* border: 2px solid seagreen; */

}

.tracklist-container h2 {
    padding: 15px 0 8px 210px;
    font-weight: 600;
}

.tracklist-tb-data {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.table {
    max-width: 600px;
    /* margin-left: 60px; */
    /* background-color: black; */
    color: #000;
    /* margin-top: 30px; */
    /* border: 2px solid #fff */
    /* border: 1px dotted yellow; */

}

.tbody,
td,
tfoot,
th,
thead,
tr {
    /* color: #000; */
}





@media only screen and (max-width: 800px) {
    .tracklist-tb-data {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tracklist-container h2 {
        text-decoration: underline;
        padding-left: 120px;
        font-weight: 600;
    }

    .table.table-dark {
        max-width: 100%;
        margin: 0;
    }
}